{{!-- * Create a button in `index.handlebars` that will submit the user input into the database. --}}


<div class="container">
    
    <h2 class="text-center">Eat-Da-Burger</h2>

    <div class="col-md-6">
        <div class="burger-menu">
            <ul>
                {{#each burgers}}
                <li>
                    <p>{{this.id}}: {{this.burger_name}} <button data-id="{{this.id}}" class="devour">Devour it!</button></p>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-md-8 text-center">
        <form action="/" method="POST">
            <div class="form-group">
                <textarea type="text" name="burgerText" class="form-control text-center" id="exampleFormControlTextarea1" rows="3" placeholder="Enter some burgers you want to eat."></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<script>
    $(".devour").on("click", function(){
        var id= this.id;
        console.log("id buger: " +id);
        $.put("/burger/"+id, function(data){
            console.log("data: " +data);
        }
    })
</script>